.counters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 64px;
  border-radius: 16px;
}

.counters.dark {
  background-color: var(--blueDark);
}

.counters.light {
  background-color: var(--light);
}

.counter-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.counter-item span {
  color: var(--gray);
  font-weight: 600;
  letter-spacing: 2px;
}

.counter-item h2 {
  font-size: 2em;
}
