.card-container {
  width: 100%;
  padding: 32px;
  border-radius: 16px;

  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.card-container.dark {
  background-color: var(--blueLight);
}

.card-container.light {
  background-color: var(--white);
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: var(--white);
}

.card-body {
  width: 100%;
  height: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.bio {
  color: var(--gray);
  font-weight: 500;
}
