form {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

form.dark {
  background-color: var(--blueLight);
}

form.light {
  background-color: var(--white);
}

form input {
  flex: 1;
  font-size: 1.3em;
  background-color: transparent;
  color: var(--gray);
}

form button {
  background-color: var(--blue);
}
